.nonloggedinuser-profile-wrapper {
  border-radius: 10px 10px 0px 0px;
  overflow: hidden;
  height: calc(100vh - 55px);
  overflow-y: auto;
  background: #f8f8f8;
  z-index: 10;
  transform: translate3d(100%, 0, 0);
  transition: all 0.5s ease;
  position: relative;
}

.nonloggedinuser-profile-wrapper.show-user-profile {
  transform: translate3d(0, 0, 0);
}

.nonloggedinuser-profile-wrapper .header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  padding: 15px;
}

.nonloggedinuser-profile-wrapper i {
  display: inline-block;
  margin: 0 0 0 5px;
}

.nonloggedinuser-profile-wrapper .fa-chevron-left {
  cursor: pointer;
}

.nonloggedinuser-profile-wrapper .user-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
}

.nonloggedinuser-profile-wrapper img {
  height: 75px;
  width: 75px;
  border-radius: 100%;
  margin-bottom: 10px;
}

.nonloggedinuser-profile-wrapper .user-videos-count {
  margin: 15px 0;
  padding: 5px 10px;
  background: #eee;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.nonloggedinuser-profile-wrapper .user-videos-count i {
  color: orangered;
  margin-left: 0;
  margin-right: 10px;
}

.nonloggedinuser-profile-wrapper .profile-followers-details {
  display: flex;
}

.nonloggedinuser-profile-wrapper .profile-settings {
  display: flex;
  margin-top: 15px;
  align-items: center;
}

.nonloggedinuser-profile-wrapper .profile-settings .edit-profile {
  padding: 10px 15px;
  font-size: 12px;
  border: 1px solid #ccc;
  font-weight: bolder;
}

.nonloggedinuser-profile-wrapper .profile-settings i {
  font-size: 15px;
  border: 1px solid #ccc;
  padding: 8px 10px;
  margin-left: 10px;
}

.nonloggedinuser-profile-wrapper .profile-followers-details {
  width: 100%;
  text-align: center;
  margin: 10px 0;
}

.nonloggedinuser-profile-wrapper .profile-followers-details p {
  width: calc(100%/3);
  font-size: 14px;
  color: #8A8A8A;
}

.nonloggedinuser-profile-wrapper .profile-followers-details span {
  display: block;
  color: #000;
  margin-bottom: 5px;
}

.nonloggedinuser-profile-wrapper .user-followers {
  border: solid #ccc;
  border-width: 0px 1px;
}

.nonloggedinuser-profile-wrapper .about-user {
  margin-top: 15px;
}

.nonloggedinuser-profile-wrapper .tabs-heading {
  display: flex;
  justify-content: space-around;
  border: solid #ccc;
  border-width: 1px 0;
}

.nonloggedinuser-profile-wrapper .tabs-content {
  padding: 15px;
}

.nonloggedinuser-profile-wrapper .user-video-gallery li {
  width: 50%;
  text-align: center;
}