.tiktok-player-wrapper {
  max-width: 600px;
  margin: auto;
}

.tiktok-player-wrapper .media-wrapper {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.tiktok-player-wrapper img {
  max-width: 100%;
}